
<head>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
</head>

<%= form_with(model: fuel, local: true) do |form| %>

<div class="error">
  <% if fuel.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fuel.errors.count, "error") %> prohibited this fuel from being saved:</h2>

      <ul>
        <% fuel.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

  <div class="field">
    <%= form.text_field :name, placeholder: "Name" %>
  </div>

  <br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
